{% extends 'base.html.twig' %}


{% block body %}

<h5> Liste des profeseurs de l'établissement </h5>



<table class="table table-hover">
  <tr class="table-dark">
    <td>Nom</td>
    <td>Prénom</td>

  </tr>
  {% for e in competence.professeurs %}
  <tr class="table-warning">
    <td>{{e.nom}}</td>
    <td>{{e.prenom}}</td>

  </tr>




  {% endfor %}
</table>

{% endblock %}
